.container-fluid.status-box
  .row
    .span3
      .number{class: "#{@status.day_views  >= @avg_last_30.day_views ? 'increase' : 'decrease'}"}
        = number_with_delimiter @status.lifetime_views
        %span
      .desc
        Lifetime Views
    .span3
      .number{class: "#{@status.day_avg_views  >= @avg_last_30.day_avg_views ? 'increase' : 'decrease'}"}
        = number_with_delimiter number_with_precision(@status.avg_views, :precision => 0)
        %span
      .desc
        AVG Views Per Video
    .span3
      .number{class: "#{@status.day_minutes_watched  >= @avg_last_30.day_minutes_watched ? 'increase' : 'decrease'}"}
        = number_with_delimiter @status.minutes_watched
        %span
      .desc
        Total Minutes Watched
    .span3
      .number{class: "#{@status.day_avg_view_duration  >= @avg_last_30.day_avg_view_duration ? 'increase' : 'decrease'}"}
        = seconds_in_human @status.avg_view_duration
        %span
      .desc
        AVG View Duration
  .row
    .span3
      .number{class: "#{@status.day_subscribers  >= @avg_last_30.day_subscribers ? 'increase' : 'decrease'}"}
        = number_with_delimiter @status.subscribers
        %span
      .desc
        Total Subscribers
    .span3
      .number{class: "#{@status.day_vscr  >= @avg_last_30.day_vscr ? 'increase' : 'decrease'}"}
        = @status.vscr
        \%
        %span
      .desc
        VSCR (%)
    .span3
      .number{class: "#{@top_in_day && (@status.day_views  >= @avg_last_30.day_views) ? 'increase' : 'decrease'}"}
        = @top_in_day ? @top_in_day.report_date.strftime('%A') : 'Coming Soon'
        %span
      .desc
        Top Day of Week - Views

  .line
  .row
    .span3
      .number{class: "#{@status.day_fb_likes  >= @avg_last_30.day_fb_likes ? 'increase' : 'decrease'}"}
        = number_with_delimiter @status.fb_likes
        %span
      .desc
        Facebook Likes
    .span3
      .number{class: "#{@status.day_twitter_followers  >= @avg_last_30.day_twitter_followers ? 'increase' : 'decrease'}"}
        = number_with_delimiter @status.twitter_followers
        %span
      .desc
        Twitter Followers
    .span3
      .number
        Coming Soon
      .desc
        Tumblr Followers
    .span3
      .number
        Coming Soon
      .desc
        Instagram Followers
  .row
    .span3
      .number{class: "#{@status.day_plus_followers  >= @avg_last_30.day_plus_followers ? 'increase' : 'decrease'}"}
        = number_with_delimiter @status.plus_followers
        %span
      .desc
        Google+ Followers

